{% extends "base.html" %}

{% block title %}Welcome!{% endblock%}

{% block content %}
    <h1>Welcome to the Meeting Planner!</h1>
    <p>
        This is the demo application for the course
        <em>Django: Getting Started</em>
        on <a href="https://www.pluralsight.com">
        Pluralsight</a>
    </p>
    <p>
        {{message}}
    </p>
    <p>
        There are currently {{num_meetings}} meetings in the database.
    </p>
    <img src="static/website/jo.jpg" width="100px">
    <h2>Meetings</h2>
    <ul>
        {% for meeting in all_meetings %}
        <li>
            <!-- <a href="/meeting_detail/{{meeting.id}}"> -->
            <a href="{% url 'meeting_detail' meeting.id %}">
                {{meeting.title}}
            </a>    
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'rooms_list' %}">Room List</a>
{% endblock %}