{% extends "base.html" %}

{% block title %}Welcome!{% endblock%}

{% block content %}
    <h1>Welcome to the Meeting Planner!</h1>
    <p>
        There are currently {{num_meetings}} meetings in the database.
    </p>
    <h2>Meetings</h2>
    <ul>
        {% for meeting in all_meetings %}
        <li>
            <!-- <a href="/meeting_detail/{{meeting.id}}"> -->
            <a href="{% url 'meeting_detail' meeting.id %}">
                {{meeting.title}}
            </a>    
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'rooms_list' %}">Room List</a>
    <br>
    <br>
    <a href="{% url 'new_meeting' %}">Plan a New Meeting Here!</a>
{% endblock %}