{% extends "base.html" %}

{% block title %}Registered Rooms!{% endblock%}

{% block content %}
    <h1>Welcome to the Meeting Planner! Here are the rooms registered!</h1>
    <p>
        There are currently {{num_rooms}} rooms in the database.
    </p>
    <h2>Rooms</h2>
    <ul>
        {% for room in all_rooms %}
        <li>
            <a href="{% url 'room_detail' room.id %}">
                {{room}}
            </a>    
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'new_room' %}">Add a New Room Here!</a>
{% endblock %}